@page
@model BottomTextWeb.Pages.bttModel
@{


}


<select id="unit2" class="form-control">
<option value="QWERTY">QWERTY</option>
<option value="Dvorak">Dvorak</option>
<option value="Colemak">Colemak</option>
<option value="ColemakDH" selected="">ColemakDH</option>
<option value="Workman">Workman</option>
</select>

<textarea id="txt" name="txt" rows="6" cols="60"  placeholder="Text input ..." autofocus=""></textarea>
<button type="button" title="Convert" class="btn btn-success" onclick="OnConvert()"><img src="/lib/icons/material/svg/autorenew_white_24dp.svg" loading="lazy" width="24" height="24" alt=""> Convert</button>
<textarea id="txt" name="txt" rows="6" cols="60"  placeholder="Text input ..." autofocus=""></textarea>